html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.top-nav{
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
}
.bot-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.bot-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: .3em;
  transition: ease-in .25s
}
.bot-nav a:hover {
  color: rgb(220, 178, 41);
  text-decoration: underline;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.nav-icons a{
  color: white;
  font-size: 1.5em;
  transition: ease-in 0.25s;
}
.nav-icons a:hover{
  color: rgb(220, 178, 41);
}
.home {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: .5em;
}

.home img {
  max-width: 100%;
  height: 80vh;
  margin: 0 5em;
}
.selected-works-wrapper{
  display: flex;
  flex-direction: column;
}
.selected-works-wrapper p {
  text-align: center;
}
.scrolling-wrapper-flexbox {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  max-height: 70vh;
  border-top:2px solid #243949;
  border-bottom:2px solid #243949;
}

  .card {
    display: inline-block;
    max-height: 100%;
  }

  .card img {
    max-height: 500px;
  }

  .about-page-wrapper{
    margin: 0 auto;
    width: 400px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 60vh;
  }

  .about-page-wrapper p {
    border: 1.5px solid #243949;
    background-color: #fdfbfb;
    border-radius: 6px;
    padding: 2em 4em;
  }
.about-page-wrapper img {
height: 100%;
}
