html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.nav-icons a{
  color: white;
  font-size: 1.5em;
}