html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.top-nav{
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  display: flex;
  flex-direction: column;
}

.bot-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.bot-nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: .3em;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.nav-icons a{
  color: white;
  font-size: 1.5em;
}

.home {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin: 0 5em; */
  margin-top: .5em;
}

.home img {
  max-width: 100%;
  height: 80vh;
  margin: 0 5em;
}