html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
html, body {
  width: 100%;
  height: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.nav-icons a{
  color: white;
  font-size: 1.5em;
}

.home {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin: 0 5em; */
}

.home img {
  max-width: 100%;
  height: 80vh;
  /* height: auto; */
  margin: 0 5em;
}